@charset "UTF-8";

@font-face {
    font-family: "park";
    src: url(fonts/park.ttf);
}

@font-face {
    font-family: "android";
    src: url(fonts/idroid.otf);
}

:root {
    --colour00: #c8e2d4;

    --colour01: #80E1AE;
    
    --colour02: #3BDC87;

    --colour03: #2DA867;
    
    --colour04: #195C38;
    
    --colour05: #264435;

    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;

    --font-destaque: "park", "Cursive";

    --font-android: "android", "Cursive";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-padrao);
    background-color: var(--colour01);
}

header {
    min-height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--colour03), var(--colour05));
    text-align: center;
}

header > h1 {
    font-size: 3em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.795);
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    color: var(--colour00);
}

header > p {
    font-size: 1.2em;
    font-family: var(--font-padrao);
    color: var(--colour00);
    max-width: 500px;
    margin: auto;
    text-shadow: 0px 0px 10px black;
}

nav {
    background-color: var(--colour05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.479);
}

nav > a {
    color: var(--colour00);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

nav > a:hover {
    color: var(--colour02);
    background-color: var(--colour04);
}

main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
    background-color: var(--colour00);
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    margin-bottom: 10px;
}

main img {
    width: 100%;

}

main img.small {
    display: block;
    width: 50%;
    margin: auto;
}

main h1 {
    font-family: var(--font-android);
}

main h2 {
    font-family: var(--font-android);
}

footer {
    background-color: var(--colour05);
    color: var(--colour00);
}